# Created by https://www.gitignore.io/api/python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Lint
/.ruff_cache

# Tests cache
.odoo_download_dir_path/
